<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:url]} type="text" label="Url" />
  <.input field={f[:title]} type="text" label="Title" />
  <.input field={f[:description]} type="textarea" label="Description" />
  <footer>
    <.button variant="primary">Save Video</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
