<h1>New User</h1>

<.form :let={f} for={@changeset} action={~p"/users"}>
  <div>
    <.input field={f[:name]} type="text" placeholder="Name" />
  </div>
  <div>
    <.input field={f[:username]} type="text" placeholder="Username" />
  </div>
  <button>Create User</button>
</.form>
